.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.giftImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 16px;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin-block: 30px;
}

.rightbarTitle {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.onlineFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
