.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
  position: relative;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.giftImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 16px;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin-block: 30px;
}

.rightbarTitle {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.onlineFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarProfileTitle {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.rightbarprofileFriendsTitle {
  margin-top: 40px;
}

.rightbarInfo {
  margin-bottom: 20px;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-weight: 500;
  color: #555;
}

.rightbarInfoValue {
  font-weight: 300;
}

.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.rightbarFollowingImg {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.rightbarUsername {
  display: block;
  margin-top: 10px;
}

.rightbarFollowButton {
  border: none;
  outline: none;
  background-color: #1872f2;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
}

.rightbarInfoLoading {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.followLoading {
  color: #fff !important;
}
