.resetPassword,
.resetContainer {
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resetPasswordBox,
.resetBox {
  height: 250px;
  width: 25%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.resetPasswordText,
.resetText {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.resetPasswordInput {
  border: none;
  outline: none;
  height: 50px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 20px;
}

.resetPasswordInput:focus {
  border-color: #388e3c;
}

.resetPasswordButton,
.resetPasswordLoginButton,
.resetPasswordRegisterButton {
  border: none;
  outline: none;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  color: #fff;
  background-color: #388e3c;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.resetPasswordLoginButton {
  background-color: #1775ee;
}
.resetPasswordRegisterButton {
  background-color: red;
}
