.chatOnlineFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 30px;
}

.chatOnlineFriend:hover {
  background-color: #dadada;
}

.chatOnlineImgContainer {
  position: relative;
  margin-right: 10px;
}

.chatOnlineImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #fff;
}

.chatOnlineBadge {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lime;
  top: 2px;
  right: 2px;
}

.chatOnlineText {
  font-weight: 700;
}
