.register {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.registerLeft,
.registerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerLogo {
  display: block;
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.registerDesc {
  font-size: 24px;
}

.registerBox {
  height: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.registerInput {
  border: none;
  outline: none;
  height: 50px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 20px;
}

.registerInput:focus {
  border-color: #1775ee;
}

.registerButton,
.registerLoginButton {
  border: none;
  outline: none;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  background-color: #1775ee;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.forgotPassword {
  text-align: center;
  color: #1775ee;
}

.registerLoginButton {
  width: 60%;
  align-self: center;
  background-color: #42b72a;
}
