.register {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  width: 70%;
  height: 90%;
  display: flex;
}
.registerLeft,
.registerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerLeft {
  box-sizing: border-box;
  padding-right: 50px;
}

.registerLogo {
  display: block;
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.registerDesc {
  font-size: 24px;
}

.registerBox {
  height: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.registerCoverLabel {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.registerCoverImg {
  width: 500px;
  height: 125px;
  object-fit: cover;
  border-radius: 10px;
}

.registerProfileLabel {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 999;
}

.registerProfileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.registerProfileImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #1775ee;
  object-fit: cover;
  cursor: pointer;
}

.registerInput {
  border: none;
  outline: none;
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 20px;
}

.registerInput:focus {
  border-color: #1775ee;
}

select {
  appearance: none;
}

.registerButton {
  border: none;
  outline: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
  background-color: #1775ee;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.loadingIndicator {
  color: #fff !important;
}

.forgotPassword {
  text-align: center;
  color: #1775ee;
}

.registerLoginText {
  color: #388e3c;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
